{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}

<div class="p-2 my-4">
    <h1>Список сторінок</h1>
    <p class="info py-4">
        Практична робота на курсі IT-BRAINS
    </p>
 <div class="grid col-12 ms-2">
    <div class="row row-col-3 ">
        <div class="col-4">
             <a  href="/summary" class="btn btn-primary text-start" type="button" target="blank">summary</a>
             <a href="/skills" class="btn btn-primary text-start" type="button" target="blank">skills</a>
             <a href="/work" class="btn btn-primary text-start" type="button" target="blank">work</a>
             <a href="/education" class="btn btn-primary text-start" type="button" target="blank">education</a>
             <a href="/person" class="btn btn-primary text-start" type="button" target="blank">person</a>
             <a href="/bio" class="btn btn-primary text-start" type="button" target="blank">bio</a>
             <a href="/program" class="btn btn-primary text-start" type="button" target="blank">program</a>
        </div>
        <div class="col-4 gap-2">
            <a href="/web" class="btn btn-primary text-start" type="button" target="blank">web</a>
             <a href="/js" class="btn btn-primary text-start" type="button" target="blank">js</a>
             <a href="/car" class="btn btn-primary text-start" type="button" target="blank">car</a>
             <a href="/mac" class="btn btn-primary text-start" type="button" target="blank">mac</a>
             <a href="/facebook" class="btn btn-primary text-start" type="button" target="blank">facebook</a>
             <a href="/task21" class="btn btn-primary text-start" type="button" target="blank">task21</a>
             <a href="/task22" class="btn btn-primary text-start" type="button" target="blank">task22</a>
        </div>
        <div class="col-4 gap-2">
             <a href="/task31" class="btn btn-primary text-start" type="button" target="blank">task31</a>
             <a href="/shophome" class="btn btn-primary text-start" type="button" target="blank">shophome</a>
             <a href="/shoporder" class="btn btn-primary text-start" type="button" target="blank">shoporder</a>
             <a href="/shopcart" class="btn btn-primary text-start" type="button" target="blank">shopcart</a>
             <a href="/shopprofile" class="btn btn-primary text-start" type="button" target="blank">shopprofile</a>
             <a href="/shopreview" class="btn btn-primary text-start" type="button" target="blank">shopreview</a>
             <a href="/shopcatalog" class="btn btn-primary text-start" type="button" target="blank">shopcatalog</a>
        </div>
    </div>
</div>
</div>
<style>
    a {
       width:  50%; margin: 2px;
    }
</style>
{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}